.header {
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    /*background-color: rgb(173, 216, 230);*/
    background-color: rgb(54, 69, 79);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 211, 211);
    color: white;
}

.logo-container {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header-left-section {
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex-direction: row;
}

.logo-image {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    display: block;
}

.slogan-brand-container {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 1;
    flex-direction: column;
}

.slogan, .brand {
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

.slogan {
    font-size: 12px;
}

.brand {
    font-size: 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 80px;
    align-items: center;
}

.search-button .tooltip, 
.checkout-container .tooltip,
.contact-info .contact-info-button {
    position: absolute;
    background-color: gray;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.35s;
    pointer-events: none;
    white-space: nowrap;
    padding: 4px 8px;
}

.search-button:hover .tooltip, 
.checkout-container:hover .tooltip,
.contact-info:hover .contact-info-button {
    opacity: 1;
}

.checkout-container {
    position: relative;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 300px;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    height: 39px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    height: 25px;
}

.header-middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 55px;
    margin-right: 35px;
    flex-direction: row;
}

.html-link-button,
.contact-button {
    margin-right: 50px;
    width: 100px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-button {
    cursor: default;
}

.header-right-section {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sign-up-button, 
.log-in-button {
    width: 90px;
    border-radius: 35px;
    height: 55px;
    border: none;
    color: white;
    cursor: pointer;
}

.sign-up-button {
    background-color: transparent;
}

.log-in-button {
    background-color: teal;
}

.cart-image {
    width: 50px;
    cursor: pointer;
}

.checkout {
    text-decoration: none;
}

.cart-quantity {
    position: absolute;
    font-size: 22px;
    bottom: 18px;
    right: 15px;;
    color: rgb(255, 153, 0);
}